/* Stil tanımlamalarınızı burada yapabilirsiniz */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #3498db;
    color: white;
    padding: 1em;
    text-align: center;
}

section {
    max-width: 800px;
    margin: 2em auto;
    padding: 1em;
    background-color: white;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

p {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    margin-left: 20px;
}
